@import "tailwindcss";
@font-face {
  font-family: unbounded;
  src: url(./assets/fonts/ubounded.ttf);
}
@font-face {
  font-family:ranade;
  src: url(./assets/fonts/ranade.ttf);
}
@font-face {
  font-family:ccc;
  src: url(./assets/fonts/CCC.ttf);
}
body{
  background-color:black;
}